In [1]:
import pandas as pd
import os 
from sklearn.model_selection import train_test_split
from ucimlrepo import fetch_ucirepo 
import pandas as pd  
from sklearn.model_selection import train_test_split

In [3]:

# fetch dataset 
adult = fetch_ucirepo(id=2) 

# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 

print("total length::",len(X),"\n")

merged_df = pd.concat([X, y], axis=1)

print(merged_df.isna().sum())

merged_df=merged_df.dropna()

print(len(merged_df))

print(merged_df.isna().sum())

total length:: 48842

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64
47621
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [4]:
len(merged_df)

47621

In [5]:
merged_df = merged_df[~merged_df["workclass"].isin(["?"])]
merged_df = merged_df[~merged_df["occupation"].isin(["?"])]
merged_df = merged_df[~merged_df["native-country"].isin(["?"])]

# to merge this: ['<=50K' '>50K' '<=50K.' '>50K.']
merged_df["income"] = merged_df["income"].replace({"<=50K.": "<=50K", ">50K.": ">50K"})

In [6]:
merged_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [7]:
a="workclass"
print(pd.unique(merged_df[a]))
print("length: ",len(pd.unique(merged_df[a])))
merged_df[a].value_counts()

['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay']
length:  7

workclass
Private             33307
Self-emp-not-inc     3796
Local-gov            3100
State-gov            1946
Self-emp-inc         1646
Federal-gov          1406
Without-pay            21
Name: count, dtype: int64

In [8]:
len(merged_df)

45222

In [9]:
merged_df['race_sex'] = merged_df['race'] + '_' + merged_df['sex']
# data for pre_trained model
# Step 2: Stratified Sampling for df1 (10,000 data points)
df1_sample, remaining_data = train_test_split(
    merged_df, test_size=(1 - 23000 / len(merged_df)), stratify=merged_df['race_sex'], random_state=42
)
df1_sample = df1_sample.drop(columns=['race_sex'])
df1_sample = df1_sample.reset_index(drop=True)
df1_sample

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,38,Private,187870,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,90,United-States,>50K
1,41,Private,475322,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,1617,35,United-States,<=50K
2,35,Private,107477,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
3,25,Private,63062,Some-college,10,Never-married,Farming-fishing,Own-child,White,Male,0,0,60,United-States,<=50K
4,47,Self-emp-not-inc,158451,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,0,45,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22995,39,Local-gov,316582,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,<=50K
22996,31,Private,243605,Bachelors,13,Widowed,Sales,Unmarried,White,Female,0,1380,40,Cuba,<=50K
22997,48,Self-emp-not-inc,324173,Assoc-voc,11,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States,<=50K
22998,25,Private,202091,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
22999,43,Federal-gov,94937,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K

In [10]:
len(remaining_data)

22222

In [11]:
# data for final testing
df2_sample, remaining_data = train_test_split(
    remaining_data, test_size=(1 - 10000 / len(remaining_data)), stratify=remaining_data['race_sex'], random_state=42
)
df2_sample = df2_sample.drop(columns=['race_sex'])

df2_sample = df2_sample.reset_index(drop=True)

df2_sample

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,28,Private,132686,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
1,42,Private,141558,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
2,24,Private,278130,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,36,Local-gov,254202,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Female,0,0,24,Germany,<=50K
4,44,Local-gov,101689,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45,Self-emp-not-inc,107231,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,45,France,<=50K
9996,27,Local-gov,125442,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
9997,60,Private,199085,10th,6,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
9998,50,Private,210217,Bachelors,13,Divorced,Sales,Unmarried,Black,Male,0,0,40,United-States,<=50K
9999,41,Private,112181,Bachelors,13,Married-civ-spouse,Sales,Wife,White,Female,0,0,12,United-States,>50K

In [12]:
len(df2_sample),len(df1_sample)

(10000, 23000)

In [13]:
len(remaining_data)

12222

In [14]:

dfs_3000 = []

while len(remaining_data) >= 3000:
    sample_3000, remaining_data = train_test_split(
        remaining_data, test_size=(1 - 3000 / len(remaining_data)), stratify=remaining_data['race_sex'], random_state=42
    )
    dfs_3000.append(sample_3000)

# Handle remaining data points (if any) as the last DataFrame
if len(remaining_data) > 0:
    dfs_3000.append(remaining_data)

dfs_3000 = [df.drop(columns=['race_sex']) for df in dfs_3000]
dfs_3000 = [df.reset_index(drop=True) for df in dfs_3000]

In [15]:
len(dfs_3000)

5

In [16]:
dfs_3000[0].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,24,Private,126568,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,33,United-States,<=50K
1,47,Private,32509,Some-college,10,Divorced,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
2,38,Private,117802,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
3,24,Federal-gov,44075,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
4,30,Private,226525,10th,6,Divorced,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K

In [17]:
for i in range(len(dfs_3000)):
    print(len(dfs_3000[i]))

3000
3000
2999
2999
224

In [18]:
idx=0
dfs_list=dfs_3000
for i in range(len(dfs_list)):
    if len(dfs_list[i])>2000:
        dfs_list[i][:2000].to_csv(f'../clients_data/raw_data/client_{idx}.data', header=False, index=False)
        dfs_list[i][2000:3000].to_csv(f'../clients_data/raw_data/client_{idx}.test', header=False, index=False)
        print(idx)
        idx+=1

0
1
2
3

In [19]:
# for i in range(len(dfs_3000)):
#     if len(dfs_3000[i])>2800:
    
#         dfs_3000[i][:2000].to_csv(f'../clients_data/raw_data/client_{i}.data', header=False, index=False)
#         dfs_3000[i][2000:].to_csv(f'../clients_data/raw_data/client_{i}.test', header=False, index=False)

In [20]:
# df2_sample[:1000].to_csv(f'../clients_data/raw_data/client_adult.test', header=False, index=False)

# tesing data

In [21]:
df2_sample.to_csv(f'../clients_data/raw_data/client_adult.test', header=False, index=False)

In [22]:
len(df2_sample)

10000

# pretrain_raw_data

In [23]:
df1_sample["income"].value_counts()

income
<=50K    17290
>50K      5710
Name: count, dtype: int64

In [24]:
min_count = df1_sample["income"].value_counts().min()  # Get the minimum count (3059)

# Separate the data by class
df_class_0 = df1_sample[df1_sample["income"] == "<=50K"].sample(n=min_count, random_state=42)
df_class_1 = df1_sample[df1_sample["income"] == ">50K"].sample(n=min_count, random_state=42)
df_balanced = pd.concat([df_class_0, df_class_1]).sample(frac=1, random_state=42)  # Shuffle
print(df_balanced["income"].value_counts())

income
>50K     5710
<=50K    5710
Name: count, dtype: int64

In [25]:
df1_sample=df_balanced.copy()

In [26]:
df1_sample.to_csv(f'../clients_data/raw_data/client_data_pre_trained_model.data', header=False, index=False)

In [27]:
len(df1_sample)

11420

# group _raw_data

In [28]:
merge_df=df2_sample.copy()

In [29]:
men = merge_df.loc[(merge_df['sex'] == "Male")]
women = merge_df.loc[(merge_df['sex'] == "Female")]
white = merge_df.loc[(merge_df['race'] == "White")]
black = merge_df.loc[(merge_df['race'] == "Black")]

print("Length: ",len(men),len(women),len(white),len(black))

Length:  6750 3250 8603 935

In [30]:
# =====Testing=============
men.to_csv(f'../clients_data/raw_data/male.data', header=False, index=False)
women.to_csv(f'../clients_data/raw_data/female.data', header=False, index=False)
white.to_csv(f'../clients_data/raw_data/white.data', header=False, index=False)
black.to_csv(f'../clients_data/raw_data/black.data', header=False, index=False)

# Subgroup raw_data

In [31]:
merge_df_train=df2_sample.copy()

In [32]:
#White Men
WM = merge_df_train.loc[(merge_df_train['sex'] == "Male") & (merge_df_train['race'] == "White")]
#Black Men
BM = merge_df_train.loc[(merge_df_train['sex'] == "Male") & (merge_df_train['race'] == "Black")]
#white Women
WW = merge_df_train.loc[(merge_df_train['sex'] == "Female") & (merge_df_train['race'] == "White")]
#Black Women
BW = merge_df_train.loc[(merge_df_train['sex'] == "Female") & (merge_df_train['race'] == "Black")]

print("Length: ",len(WM),len(BM),len(WW),len(BW))

Length:  5975 474 2628 461

In [33]:

WW.to_csv(f'../clients_data/raw_data/WW.data', header=False, index=False)
WM.to_csv(f'../clients_data/raw_data/WM.data', header=False, index=False)
BW.to_csv(f'../clients_data/raw_data/BW.data', header=False, index=False)
BM.to_csv(f'../clients_data/raw_data/BM.data', header=False, index=False)

In [34]:
# Length:  5913 482 2652 470