In [1]:
import pandas as pd
import os 
from sklearn.model_selection import train_test_split
from ucimlrepo import fetch_ucirepo 
import pandas as pd  
from sklearn.model_selection import train_test_split

In [2]:

# fetch dataset 
adult = fetch_ucirepo(id=2) 

# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 

print("total length::",len(X),"\n")

merged_df = pd.concat([X, y], axis=1)

print(merged_df.isna().sum())

merged_df=merged_df.dropna()

print(len(merged_df))

print(merged_df.isna().sum())

total length:: 48842

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64
47621
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [3]:
len(merged_df)

47621

In [4]:
merged_df = merged_df[~merged_df["workclass"].isin(["?"])]
merged_df = merged_df[~merged_df["occupation"].isin(["?"])]
merged_df = merged_df[~merged_df["native-country"].isin(["?"])]

# to merge this: ['<=50K' '>50K' '<=50K.' '>50K.']
merged_df["income"] = merged_df["income"].replace({"<=50K.": "<=50K", ">50K.": ">50K"})

In [5]:
merged_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
a="workclass"
print(pd.unique(merged_df[a]))
print("length: ",len(pd.unique(merged_df[a])))
merged_df[a].value_counts()

['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay']
length:  7

workclass
Private             33307
Self-emp-not-inc     3796
Local-gov            3100
State-gov            1946
Self-emp-inc         1646
Federal-gov          1406
Without-pay            21
Name: count, dtype: int64

In [7]:
len(merged_df)

45222

In [8]:
merged_df['race_sex'] = merged_df['race'] + '_' + merged_df['sex']
# data for pre_trained model
# Step 2: Stratified Sampling for df1 (10,000 data points)
df1_sample, remaining_data = train_test_split(
    merged_df, test_size=(1 - 5000 / len(merged_df)), stratify=merged_df['race_sex'], random_state=42
)
df1_sample = df1_sample.drop(columns=['race_sex'])
df1_sample = df1_sample.reset_index(drop=True)
df1_sample

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,288185,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
1,45,Private,81132,HS-grad,9,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
2,62,State-gov,159699,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,38,United-States,<=50K
3,28,Self-emp-inc,115705,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K
4,31,Private,36302,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43,Private,388725,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
4996,53,Self-emp-inc,135643,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
4997,26,Private,301563,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
4998,41,Private,171615,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,>50K
4999,27,Private,150296,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,32,United-States,<=50K

In [9]:
len(remaining_data)

40222

In [10]:
# data for final testing
df2_sample, remaining_data = train_test_split(
    remaining_data, test_size=(1 - 10000 / len(remaining_data)), stratify=remaining_data['race_sex'], random_state=42
)
df2_sample = df2_sample.drop(columns=['race_sex'])

df2_sample = df2_sample.reset_index(drop=True)

df2_sample

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,34,Private,218164,HS-grad,9,Divorced,Craft-repair,Unmarried,White,Male,0,0,44,United-States,<=50K
1,50,Private,98975,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,40,United-States,>50K
2,37,Self-emp-not-inc,191841,Bachelors,13,Divorced,Other-service,Unmarried,White,Female,0,0,48,United-States,<=50K
3,43,Private,282678,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,60,United-States,<=50K
4,33,Self-emp-not-inc,173495,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,22,Private,293324,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
9996,23,Private,165064,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
9997,49,Federal-gov,168232,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
9998,42,Private,167357,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,213,40,United-States,<=50K
9999,34,Private,509364,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [11]:
len(df2_sample),len(df1_sample)

(10000, 5000)

In [12]:
len(remaining_data)//3000

10

In [13]:

dfs_3000 = []

while len(remaining_data) >= 3000:
    sample_3000, remaining_data = train_test_split(
        remaining_data, test_size=(1 - 3000 / len(remaining_data)), stratify=remaining_data['race_sex'], random_state=42
    )
    dfs_3000.append(sample_3000)

# Handle remaining data points (if any) as the last DataFrame
if len(remaining_data) > 0:
    dfs_3000.append(remaining_data)

dfs_3000 = [df.drop(columns=['race_sex']) for df in dfs_3000]
dfs_3000 = [df.reset_index(drop=True) for df in dfs_3000]

In [14]:
len(dfs_3000)

11

In [15]:
dfs_3000[0].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,30,Private,169186,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,60,United-States,<=50K
1,46,Self-emp-inc,67725,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,10,United-States,<=50K
2,54,Self-emp-not-inc,83311,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,30,United-States,>50K
3,70,Self-emp-inc,232871,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,30,United-States,<=50K
4,54,Private,141663,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,15,United-States,<=50K

In [16]:
for i in range(len(dfs_3000)):
    print(len(dfs_3000[i]))

3000
3000
3000
3000
3000
3000
3000
3000
2999
2999
224

In [17]:
idx=0
dfs_list=dfs_3000
for i in range(len(dfs_list)):
    if len(dfs_list[i])>2000:
        dfs_list[i][:2000].to_csv(f'../clients_data/raw_data/client_{idx}.data', header=False, index=False)
        dfs_list[i][2000:3000].to_csv(f'../clients_data/raw_data/client_{idx}.test', header=False, index=False)
        print(idx)
        idx+=1

0
1
2
3
4
5
6
7
8
9

In [18]:
# for i in range(len(dfs_3000)):
#     if len(dfs_3000[i])>2800:
    
#         dfs_3000[i][:2000].to_csv(f'../clients_data/raw_data/client_{i}.data', header=False, index=False)
#         dfs_3000[i][2000:].to_csv(f'../clients_data/raw_data/client_{i}.test', header=False, index=False)

In [19]:
# df2_sample[:1000].to_csv(f'../clients_data/raw_data/client_adult.test', header=False, index=False)

# tesing data

In [20]:
df2_sample.to_csv(f'../clients_data/raw_data/client_adult.test', header=False, index=False)

In [21]:
len(df2_sample)

10000

# pretrain_raw_data

In [22]:
df1_sample["income"].value_counts()

income
<=50K    3692
>50K     1308
Name: count, dtype: int64

In [23]:
min_count = df1_sample["income"].value_counts().min()  # Get the minimum count (3059)

# Separate the data by class
df_class_0 = df1_sample[df1_sample["income"] == "<=50K"].sample(n=min_count, random_state=42)
df_class_1 = df1_sample[df1_sample["income"] == ">50K"].sample(n=min_count, random_state=42)
df_balanced = pd.concat([df_class_0, df_class_1]).sample(frac=1, random_state=42)  # Shuffle
print(df_balanced["income"].value_counts())

income
>50K     1308
<=50K    1308
Name: count, dtype: int64

In [24]:
df1_sample=df_balanced.copy()

In [25]:
df1_sample.to_csv(f'../clients_data/raw_data/client_data_pre_trained_model.data', header=False, index=False)

In [26]:
len(df1_sample)

2616

# group _raw_data

In [27]:
merge_df=df2_sample.copy()

In [28]:
men = merge_df.loc[(merge_df['sex'] == "Male")]
women = merge_df.loc[(merge_df['sex'] == "Female")]
white = merge_df.loc[(merge_df['race'] == "White")]
black = merge_df.loc[(merge_df['race'] == "Black")]

print("Length: ",len(men),len(women),len(white),len(black))

Length:  6750 3250 8603 935

In [29]:
# =====Testing=============
men.to_csv(f'../clients_data/raw_data/male.data', header=False, index=False)
women.to_csv(f'../clients_data/raw_data/female.data', header=False, index=False)
white.to_csv(f'../clients_data/raw_data/white.data', header=False, index=False)
black.to_csv(f'../clients_data/raw_data/black.data', header=False, index=False)

# Subgroup raw_data

In [30]:
merge_df_train=df2_sample.copy()

In [31]:
#White Men
WM = merge_df_train.loc[(merge_df_train['sex'] == "Male") & (merge_df_train['race'] == "White")]
#Black Men
BM = merge_df_train.loc[(merge_df_train['sex'] == "Male") & (merge_df_train['race'] == "Black")]
#white Women
WW = merge_df_train.loc[(merge_df_train['sex'] == "Female") & (merge_df_train['race'] == "White")]
#Black Women
BW = merge_df_train.loc[(merge_df_train['sex'] == "Female") & (merge_df_train['race'] == "Black")]

print("Length: ",len(WM),len(BM),len(WW),len(BW))

Length:  5975 474 2628 461

In [32]:

WW.to_csv(f'../clients_data/raw_data/WW.data', header=False, index=False)
WM.to_csv(f'../clients_data/raw_data/WM.data', header=False, index=False)
BW.to_csv(f'../clients_data/raw_data/BW.data', header=False, index=False)
BM.to_csv(f'../clients_data/raw_data/BM.data', header=False, index=False)

In [34]:
# Length:  5913 482 2652 470