In [5]:
import sys
sys.path.append("..")
# import ctgan
from ctgan import CTGAN
from ctgan import load_demo
import pandas as pd
print("CTGAN successfully installed!")

CTGAN successfully installed!

In [11]:
features = {
    'age': None,
    'workclass': ['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov',
                  'Without-pay', 'Never-worked'],
    'fnlwgt': None,
    'education': ['Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc',
                  '9th', '7th-8th', '12th', 'Masters',
                  '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool'],
    'education-num': None,
    'marital-status': ['Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed',
                        'Married-spouse-absent', 'Married-AF-spouse'],
    'occupation': ['Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial',
                    'Prof-specialty', 'Handlers-cleaners',
                    'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving',
                    'Priv-house-serv', 'Protective-serv', 'Armed-Forces'],
    'relationship': ['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'],
    'race': ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'],
    'sex': ['Female', 'Male'],
    'capital-gain': None,
    'capital-loss': None,
    'hours-per-week': None,
    'native-country': ['United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany',
                        'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece',
                        'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland',
                        'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland',
                        'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia',
                        'Hungary', 'Guatemala', 'Nicaragua', 'Scotland',
                        'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong',
                        'Holand-Netherlands'],
    'income': ['>50K', '<=50K']
}
single_bit_binary=False

single_bit_binary = single_bit_binary
label = 'income'

train_features = {key: features[key] for key in features.keys() if key != label}

train_data_df = pd.read_csv(f'../result_analysis/hello_2000_68per.data', delimiter=',', names=list(features.keys()), engine='python')

# client_0_df = pd.read_csv(f'/content/gdrive/MyDrive/CTGAN/data_from_tableak/client_0.data', delimiter=',', names=list(features.keys()), engine='python')

In [14]:
# Names of the columns that are discrete
discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
]
column_names =['age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
        'income']
ctgan = CTGAN(epochs=100,cuda=False, verbose=True)

In [8]:
real_data = load_demo()

In [15]:
# ctgan.fit(real_data[:30], discrete_columns)
ctgan.fit(train_data_df, column_names)
# ctgan.fit(client_0_df, column_names)

Gen. (3.15) | Discrim. (-0.39):   1%|          | 1/100 [01:15<2:03:58, 75.14s/it]

KeyboardInterrupt:

In [10]:
ctgan.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,43,Local-gov,349764,11th,13,Divorced,Tech-support,Husband,Asian-Pac-Islander,Male,-1096,-120,29,Cuba,<=50K
1,64,Private,354090,HS-grad,17,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,8817,9,43,Mexico,>50K
2,28,State-gov,68614,Some-college,14,Married-spouse-absent,Transport-moving,Unmarried,White,Male,-415,1319,41,Cuba,>50K
3,71,State-gov,244034,Doctorate,6,Divorced,Machine-op-inspct,Husband,Amer-Indian-Eskimo,Male,8916,-56,84,Cuba,>50K
4,51,Local-gov,394663,11th,8,Married-spouse-absent,Farming-fishing,Not-in-family,Amer-Indian-Eskimo,Female,-297,-18,40,Mexico,>50K